.customShadow{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1) ;
}

.userTable th{
    @apply border text-base font-medium;
}

.userTable{
    @apply bg-white;
}
.userTable{
    @apply border text-base text-center;
}

/*scroll bar hidden*/

.scrollbar-none::-webkit-scrollbar{
    display: none;
}